<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="/../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../../css/estilo.css">
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print">
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6/dist/themes/oldstyle.min.css" media="print">
</head>